nifi_s3_to_gcs_flow.json
{"flowContents":{"identifier":"69d6bf5a-606f-3dbe-92ae-fe56854473bd","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"b75a9bfb-9284-3677-9da6-3a52025dab12","name":"PutGCSObject","comments":"","position":{"x":896.0,"y":448.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.gcp.storage.PutGCSObject","properties":{"gcp-proxy-host":null,"gcs-content-disposition-type":null,"gcp-retry-count":"6","proxy-configuration-service":null,"gcs-overwrite-object":"true","gcp-proxy-user-name":null,"gcs-object-md5":null,"gcs-content-type":"${mime.type}","gcs-object-crc32c":null,"gcp-project-id":"strong-bus-294216","GCP Credentials Provider Service":"a5520477-2ad6-316d-939d-baed2270ab94","gcs-key":"${filename}","gcp-proxy-port":null,"gcs-bucket":"data-from-s3","gcs-object-acl":null},"propertyDescriptors":{"gcp-proxy-host":{"name":"gcp-proxy-host","displayName":"Proxy host","identifiesControllerService":false,"sensitive":false},"gcs-content-disposition-type":{"name":"gcs-content-disposition-type","displayName":"Content Disposition Type","identifiesControllerService":false,"sensitive":false},"gcp-retry-count":{"name":"gcp-retry-count","displayName":"Number of retries","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"gcs-server-side-encryption-key":{"name":"gcs-server-side-encryption-key","displayName":"Server Side Encryption Key","identifiesControllerService":false,"sensitive":true},"gcs-overwrite-object":{"name":"gcs-overwrite-object","displayName":"Overwrite Object","identifiesControllerService":false,"sensitive":false},"gcp-proxy-user-name":{"name":"gcp-proxy-user-name","displayName":"HTTP Proxy Username","identifiesControllerService":false,"sensitive":false},"gcs-object-md5":{"name":"gcs-object-md5","displayName":"MD5 Hash","identifiesControllerService":false,"sensitive":false},"gcs-content-type":{"name":"gcs-content-type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"gcs-object-crc32c":{"name":"gcs-object-crc32c","displayName":"CRC32C Checksum","identifiesControllerService":false,"sensitive":false},"gcp-project-id":{"name":"gcp-project-id","displayName":"Project ID","identifiesControllerService":false,"sensitive":false},"GCP Credentials Provider Service":{"name":"GCP Credentials Provider Service","displayName":"GCP Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"gcs-key":{"name":"gcs-key","displayName":"Key","identifiesControllerService":false,"sensitive":false},"gcp-proxy-user-password":{"name":"gcp-proxy-user-password","displayName":"HTTP Proxy Password","identifiesControllerService":false,"sensitive":true},"gcp-proxy-port":{"name":"gcp-proxy-port","displayName":"Proxy port","identifiesControllerService":false,"sensitive":false},"gcs-bucket":{"name":"gcs-bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"gcs-object-acl":{"name":"gcs-object-acl","displayName":"Object ACL","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"69d6bf5a-606f-3dbe-92ae-fe56854473bd"},{"identifier":"f7f34c19-d493-37a4-b2cd-5d5188a3f1ed","name":"LogAttribute","comments":"","position":{"x":896.0,"y":176.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"69d6bf5a-606f-3dbe-92ae-fe56854473bd"},{"identifier":"4d4446cd-f9c6-38d7-90eb-8583fd3a0406","name":"ListS3","comments":"","position":{"x":264.0,"y":72.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.aws.s3.ListS3","properties":{"write-s3-user-metadata":"false","Proxy Host":null,"list-type":"1","prefix":null,"record-writer":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"requester-pays":"false","AWS Credentials Provider service":"899ac9d5-adcf-326a-bf98-e560b7c800c2","SSL Context Service":null,"write-s3-object-tags":"false","Signer Override":"Default Signature","Bucket":"uselection-2020","delimiter":null,"Communications Timeout":"30 secs","Region":"us-east-2","Credentials File":null,"min-age":"0 sec","proxy-user-name":null,"Proxy Host Port":null,"use-versions":"false"},"propertyDescriptors":{"write-s3-user-metadata":{"name":"write-s3-user-metadata","displayName":"Write User Metadata","identifiesControllerService":false,"sensitive":false},"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"list-type":{"name":"list-type","displayName":"List Type","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"prefix":{"name":"prefix","displayName":"Prefix","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"write-s3-object-tags":{"name":"write-s3-object-tags","displayName":"Write Object Tags","identifiesControllerService":false,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"delimiter":{"name":"delimiter","displayName":"Delimiter","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false},"min-age":{"name":"min-age","displayName":"Minimum Object Age","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"use-versions":{"name":"use-versions","displayName":"Use Versions","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"69d6bf5a-606f-3dbe-92ae-fe56854473bd"},{"identifier":"58e5f7e6-46d0-37a5-97e1-c06ab63f98fd","name":"FetchS3Object","comments":"","position":{"x":264.0,"y":448.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.12.1"},"style":{},"type":"org.apache.nifi.processors.aws.s3.FetchS3Object","properties":{"Proxy Host":null,"proxy-configuration-service":null,"Endpoint Override URL":null,"requester-pays":"false","Object Key":"${filename}","AWS Credentials Provider service":"899ac9d5-adcf-326a-bf98-e560b7c800c2","SSL Context Service":null,"Signer Override":"Default Signature","Bucket":"${s3.bucket}","Version":null,"Communications Timeout":"30 secs","Region":"us-east-2","Credentials File":null,"proxy-user-name":null,"Proxy Host Port":null,"encryption-service":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"requester-pays":{"name":"requester-pays","displayName":"Requester Pays","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider service","identifiesControllerService":true,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Version":{"name":"Version","displayName":"Version","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"69d6bf5a-606f-3dbe-92ae-fe56854473bd"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"2754bbd8-a845-3b8d-b0b6-f35d74c2aaee","name":"","source":{"id":"58e5f7e6-46d0-37a5-97e1-c06ab63f98fd","type":"PROCESSOR","groupId":"69d6bf5a-606f-3dbe-92ae-fe56854473bd","name":"FetchS3Object","comments":""},"destination":{"id":"b75a9bfb-9284-3677-9da6-3a52025dab12","type":"PROCESSOR","groupId":"69d6bf5a-606f-3dbe-92ae-fe56854473bd","name":"PutGCSObject","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"69d6bf5a-606f-3dbe-92ae-fe56854473bd"},{"identifier":"933800b8-8d8d-3342-89ee-94367ba6534f","name":"","source":{"id":"58e5f7e6-46d0-37a5-97e1-c06ab63f98fd","type":"PROCESSOR","groupId":"69d6bf5a-606f-3dbe-92ae-fe56854473bd","name":"FetchS3Object","comments":""},"destination":{"id":"58e5f7e6-46d0-37a5-97e1-c06ab63f98fd","type":"PROCESSOR","groupId":"69d6bf5a-606f-3dbe-92ae-fe56854473bd","name":"FetchS3Object","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":176.0,"y":456.0},{"x":48.0,"y":512.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"69d6bf5a-606f-3dbe-92ae-fe56854473bd"},{"identifier":"5b994eff-a94c-36ae-b308-ab1162a6dd42","name":"","source":{"id":"b75a9bfb-9284-3677-9da6-3a52025dab12","type":"PROCESSOR","groupId":"69d6bf5a-606f-3dbe-92ae-fe56854473bd","name":"PutGCSObject","comments":""},"destination":{"id":"f7f34c19-d493-37a4-b2cd-5d5188a3f1ed","type":"PROCESSOR","groupId":"69d6bf5a-606f-3dbe-92ae-fe56854473bd","name":"LogAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"69d6bf5a-606f-3dbe-92ae-fe56854473bd"},{"identifier":"d65ac39e-6550-358c-ac7e-1c3157a7d1e3","name":"","source":{"id":"4d4446cd-f9c6-38d7-90eb-8583fd3a0406","type":"PROCESSOR","groupId":"69d6bf5a-606f-3dbe-92ae-fe56854473bd","name":"ListS3","comments":""},"destination":{"id":"58e5f7e6-46d0-37a5-97e1-c06ab63f98fd","type":"PROCESSOR","groupId":"69d6bf5a-606f-3dbe-92ae-fe56854473bd","name":"FetchS3Object","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"69d6bf5a-606f-3dbe-92ae-fe56854473bd"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"a5520477-2ad6-316d-939d-baed2270ab94","name":"GCPCredentialsControllerService","comments":"","type":"org.apache.nifi.processors.gcp.credentials.service.GCPCredentialsControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-nar","version":"1.12.1"},"controllerServiceApis":[{"type":"org.apache.nifi.gcp.credentials.service.GCPCredentialsService","bundle":{"group":"org.apache.nifi","artifact":"nifi-gcp-services-api-nar","version":"1.12.1"}}],"properties":{"proxy-configuration-service":null,"compute-engine-credentials":"false","application-default-credentials":"false","service-account-json-file":null},"propertyDescriptors":{"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"compute-engine-credentials":{"name":"compute-engine-credentials","displayName":"Use Compute Engine Credentials","identifiesControllerService":false,"sensitive":false},"application-default-credentials":{"name":"application-default-credentials","displayName":"Use Application Default Credentials","identifiesControllerService":false,"sensitive":false},"service-account-json-file":{"name":"service-account-json-file","displayName":"Service Account JSON File","identifiesControllerService":false,"sensitive":false},"service-account-json":{"name":"service-account-json","displayName":"Service Account JSON","identifiesControllerService":false,"sensitive":true}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"69d6bf5a-606f-3dbe-92ae-fe56854473bd"},{"identifier":"899ac9d5-adcf-326a-bf98-e560b7c800c2","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.12.1"},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"1.12.1"}}],"properties":{"profile-name":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-proxy-host":null,"Credentials File":null,"default-credentials":"false","Session Time":"3600","assume-role-proxy-port":null,"assume-role-external-id":null,"Assume Role ARN":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"assume-role-proxy-host":{"name":"assume-role-proxy-host","displayName":"Assume Role Proxy Host","identifiesControllerService":false,"sensitive":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false},"Session Time":{"name":"Session Time","displayName":"Session Time","identifiesControllerService":false,"sensitive":false},"assume-role-proxy-port":{"name":"assume-role-proxy-port","displayName":"Assume Role Proxy Port","identifiesControllerService":false,"sensitive":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"69d6bf5a-606f-3dbe-92ae-fe56854473bd"}],"variables":{},"componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}